.header{
  
  /* background-color: LightCoral; */
  background-image: url("../img/redwoods.jpg");
  height: 100vh;
  background-size: cover;
  
}
.headshot{
  /* background-color: blue; */
  text-align: center;
  margin-top: 0px;
  width: auto;
}
.headshot .headshot_image{
  border-radius: 50%;
  width: 250px;
}
.info .name{
  /* background-color: red; */
  color:white;
  margin:0 0 0 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}
.info .type_box{
  display: block;
  position: relative;
  margin:auto;
  left:0;
  right:0;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  background-color: rgba(0,0,0,0.6);
  color: white;
}
.info h1,
.info h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
.info h1{
    font-size: 6vw;
}
.social{
  margin-top: 40px;
  height: 120px;
  
}
.social_link img{
    
  width: 60px;
  margin-right: 50px;
     margin-left: 50px;
  background-position: center;
  text-align: center;

}

/* TYPE CSS */
.title {
    font-size: 2.5vw;
    font-weight: 50;
    color: white;
    font-family: 'Inconsolata', monospace;
}
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media only screen and (max-width: 1000px) {
  .headshot .headshot_image{
    width: 280px;
  }
}
@media only screen and (max-width: 500px) {
  .headshot .headshot_image{
    width: 200px;
  }
}
@media only screen and (max-width: 650px) {
  .title {
      font-size: 5vw;
  }
  .info h1{
      font-size: 10vw;
  }
  .info .type_box{
    width: 90%;
  }
}
@media only screen and (max-width: 770px) {
.social_link img{
  width: 40px;
  margin-bottom: 20px;
}
}
